body{
    background-color: #E5E5E5;
}
header{
    width: 100%;
    height: 54px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}
header #logo{
    width: 103px;
    height: 29px;
}
header ion-icon {
    font-size: 22px;
}
header #barraHorizontal{
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
}
header #left{
    width: 146px;
    display: flex;
    justify-content: space-between;
}
header #barraPesquisa{
    width: 215px;
    height: 28px;
    background-color: #FAFAFA;
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    color: #979797;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header #right{
    width: 148px;
    display: flex;
    justify-content: space-between;
}
.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 54px;
}

.stories{
    width: 614px;
    height: 118px;
    margin-top: 34px;
    margin-right: 200px;
    background-color: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    z-index: 5;
}
.posts{
    width: 614px;
    height: auto;
    /* background-color: red; */
    margin-right: 200px;
    display: block;
    justify-content: space-evenly;
    position: relative;
    z-index: 5;
}
.post{
    width: 614px;
    height: 749px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 30px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post .profilePic{
    width: 32px;
    height: 32px;
    position: absolute;
    border-radius: 16px;
    left: 17px;
    top: 15px;
}
.post img{
    width: auto;
    height: 612px;
    position: absolute;
    bottom: 76px;
    top: 61px;
}
.post .top{
    top: 0;
    width: 100%;
    position: relative
}
.post .bottom{
    bottom: 0;
    width: 100%;
    position: relative

}

.sidebar{
    background-color: rgba(255, 255, 255, 0);
    width: 293px;
    height: 500px;
    position: fixed;
    top: 111px;
    right: 5vw;
    display: block;
}
.suggestionUser{
    margin: 10px 0;
    width: 100%;
    height: 32px;
    display: flex;
}
.suggestionUser img{
    width: 32px;
    height: 32px;
    border-radius: 16px;
}
.suggestionUser .username{
    width: 126px;
    height: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}
.suggestionUser .segueVoce{
    width: 143px;
    height: 11px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    color: #8E8E8E;    
}
.suggestionUser .seguir{
    width: 36px;
    height: 11px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #139EF2;


}

@media(max-width: 935px){
    .sidebar{
        display: none;
    }
    .stories{
        margin-right: 0;
    }
    .posts{
        margin-right: 0;
    }
}

@media(max-width: 614px){
    header{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header #logo{
        display: block;
        width: 103px;
        height: 29px;
    }
    header #right{
        display: none;
    }
    header #left{
        display: none;
    }
    header #barraPesquisa{
        display: none;
    }
    .stories{
        width: 100%;
        margin-top: 0;
    }
    .posts{
        width: 100%;
    }
}